main {
  text-align: center;
  padding: 0 3rem;
}

main nav {
  display: flex;
  justify-content: center;
}

table {
  position: relative;
  margin-top: 3rem;
}

thead th {
  text-align: center;
}

tbody td {
  text-align: center;
  vertical-align: middle;
}

.active-colors:nth-child(even) {
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  .active-colors:nth-child(even) {
    background-color: var(--background);
  }

  .active-colors:nth-child(odd) {
    background-color: var(--background-alt);
  }
}
